#my-network {
    width: 100%;
    height: 500px;
    background-color: transparent;
    border: 1px solid lightgray;
    position: relative;
    float: left;
}

.play {
    display: None;
    height: 255px;
    overflow: auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.flex-container {
    display: flex;
}

.sim {
    width: 100%;
    border: 2px solid #dc002d60;
    border-radius: 10px;
}

.deal {
    display: none;
}

.player-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: fit-content;
    float: right;
}

.cards-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    height: auto;
}

.state {
    display: None;
    border: 2px solid #5EB1BF;
    border-radius: 25px;
}

.state-container {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    height: auto;
}

.state-p {
    background-color: darkgray;
    text-align: center;
    font-weight: bold;
    margin: 0;
    color: black;
}

.game-info-container {
    display: flex;
    flex-direction: row;
    color: black;
    border: 2px solid #dc002d;
    border-radius: 12px;    
    margin: 5;
}

.game-info-item {
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.p1 {
    background-color: darkred;
}

.p2 {
    background-color: darkblue;
}

.p3 {
    background-color: darkgreen;
}

.place {
    background-color: #2f2f2f;
}

.player-name {
    text-align: center;
    border-style: none;
    color: white;
    padding: 5px;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: auto;
    flex: 1;
}

.image-container-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    flex: 1;
}

.hearts {
    color: red;
}

.cards-img {
    padding: 2px;
    width: 50px;
    height: 80px;
    align-self: flex-start;
}

.controls-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    padding: 10px;
}

.action {
    display: None;
}

.action-container {
  display: flex;
  flex-direction: column;  
}

.action-container-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: auto;
  padding: 15px;
  
  background: #5EB1BF;
  border-radius: 25px;
}

.no-bg {
  background: transparent;
  border: 2px solid #5EB1BF;
  border-radius: 25px;
}

.action-container-item {
  width: auto;
  color: black;
}

.action-header {
    width:150px;
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
  background: white;
  font-weight: bold;
  text-align: center;
  align-content: space-between;
}

.bg {
  background: #5EB1BF ;
  color: white
}

.real-node{
    color: MediumVioletRed; 
    font-weight: bold;
}

.root-node{
    color: MediumSlateBlue; 
    font-weight: bold;
}
